.expenseCard {
  background-color: #9b9b9b;
  width: 355.41px;
  height: 181px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.text {
  font-weight: 400;
  font-size: 30px;
  color: var(--css-white);
}

.button {
  width: 167.65px;
  height: 38px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-width: 0;
}

.ReactModal__Content {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

@media screen and (max-width: 768px) {
  .expenseCard {
    margin: 2rem;
  }
  .addBalaceOuterDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
