.inputBox {
  background-color: var(--css-white);
  border-width: 0;
  min-width: 223px;
  height: 51px;
  border-radius: 15px;
  margin: 1rem;
  padding: 1rem;
}

.inputOuterdiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .inputOuterdiv {
    justify-content: center;
  }
}
